/* 使用阿里巴巴普惠体 */
@font-face {
  font-family: 'Alibaba';
  src: url('//at.alicdn.com/wf/webfont/f3fMeXM8ZFAD/mYHaeSGvtXbF.woff2') format('woff2'),
       url('//at.alicdn.com/wf/webfont/f3fMeXM8ZFAD/mYHaeSGvtXbF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alibaba';
  src: url('//at.alicdn.com/wf/webfont/f3fMeXM8ZFAD/ZaXhXKGJAKGx.woff2') format('woff2'),
       url('//at.alicdn.com/wf/webfont/f3fMeXM8ZFAD/ZaXhXKGJAKGx.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 定义字体别名 */
@font-face {
  font-family: 'Tencent';
  src: local('Alibaba');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Tencent';
  src: local('Alibaba');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tencent';
  src: local('Alibaba');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Tencent';
  src: local('Alibaba');
  font-weight: 900;
  font-style: normal;
} 